<article id="bar">
  <img class="logo" src="/images/tutoriate/hekbar.png" alt="" />
  <big>Do, 21<sup>30</sup> Uhr</big>
  <small>treffen wir uns nach einem harten Studientag in der</small>
  <h2>HEKbar</h2>
  <p>
    Immer donnerstags ab 21:30 Uhr öffnet die legendäre HEK-Bar. Gute Musik, nette Mitbewohner hinter der Theke (vielleicht auch bald du?!) und Getränke zu absolut studentenfreundlichen Preisen erwarten dich! Wechselnde Specials wie Wein- und Whiskeyproben, Shishabars oder Themenabende inklusive.
  </p>
</article>
<article id="umbau" >
  <img class="logo" src="/images/tutoriate/HEKkino.png" alt="" />
  <h2>HEK-Kino</h2>
  <p>
    Du bist Cineast? Du liebst die große Leinwand? Du hast aber kein Geld dir jeden Film im Lichtspielhaus anzusehen? Und einen Blockbuster auf einem 15-Zoll-Bilschirm anzusehen, und dass auch noch ohne 5.1-Anlage, ist bei deinen hohen Ansprüchen natürlich undenkbar! Dann komm doch in den Keller! Denn einmal die Woche ist Kinoabend im Beamerraum. Ob Action, Komödie, Horror oder Romanze, aktuelle Filme oder Klassiker, da ist für jeden was dabei. Du hast Lust bekommen deine Leidenschaft mit deinen Mitbewohnern zu teilen? Dann achte auf die HEKkino-Email!
  </p>
</article>
<article id="weck">
  <img class="logo" src="/images/tutoriate/hekweck.png" alt="" />
  <big>Sa, 10<sup>00</sup> Uhr</big>
  <small>bekommen wir frische Wecken zum Frühstück mit</small>
  <h2>HEKweck</h2>
  <p>
    HEKweck kauft Samstag morgens frische Brötchen für alle, die zuvor im Wiki bestellt haben. Es gibt keine festen Tutoren; jeder der einkaufen will kann einkaufen und jeder der bestellen will darf bestellen. Man geht dabei keinerlei Verpflichtungen ein: Niemand muss einkaufen und niemand bekommt ein Brötchenabo angedreht.
  </p>
</article>